/* CSS declarations go here */
.starinfo{
	font-weight: bold;
	width: 100px;
}

a.list-group-item.crni, a.list-group-item.crni:focus {
    background-color: #000000;
    border-color: #FFFFFF;
    color: #FFFFFF;
    z-index: 2;
}

a.list-group-item.crni:hover {
    background-color: #444444;
}

.rokica {
	cursor: pointer; 
	cursor: hand;
}

/*html { 
  background: url('/images/gol.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/